extends layout


block content
    h1.question Is that only me #{title}

    p.answer
        if answer == 1
            | That's not only you!
        else
            | Yes, that's really only you!

    a.suggest(href="/suggest") Suggest your own
