extends layout


block content
    h1.question Is that only me #{title}

    p.answer
        if answer == 1
            | That's not only you!
        else
            | Yes, that's really only you!

    small
        a.permalink(href="http://isthatonly.me/#{slug}") http://isthatonly.me/#{slug}

    a.suggest(href="/suggest") Suggest your own
