doctype 5
html(lang="en")
    head
        title Is that only me… #{title}
        link(rel="stylesheet", href="/static/css/main.css")
    body
        header
            block header_link
                a.home(href="/") Home
        section#content
            block content

        footer
            ul
                li
                    a(href="https://github.com/scopyleft/isthatonlyme") sources on Github
                li
                    a(href="https://twitter.com/isthatonlyme") follow us on Twitter
