extends layout


block content
    h1 Suggest a sentence

    if errors
        p= errors

    form(method="post", action="")
        div(class="question")
            label(for="question") Is that only me
            input(type="text", id="question", name="question", placeholder="who can write here?")
        div(class="answer")
            input(type="radio", id="answer_no", name="answer", value="no")
            label(for="answer_no") It's only you!
        div(class="answer")
            input(type="radio", id="answer_yes", name="answer", value="yes")
            label(for="answer_yes") It's everyone!
        input(type="submit", value="Publish")
