/* layout */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Palatino,Georgia,serif
}

header {
    width: 80%;
    height: 3%;
    margin: auto;
    padding-top: 2%;
}

header .home {
    background: transparent url("../images/home.png") no-repeat;
    display: block;
    width: 40px;
    height: 40px;
    text-indent: -100%;
}

#content {
    width: 80%;
    height: 86%;
    margin: 4% auto 0;
}

h1 {
    font-size: 2.5em;
}

footer {
    position: fixed;
    border-top: 1px solid #ccc;
    margin-top: 5%;
    padding: 2%;
    bottom: 0;
    height: 5%;
    width: 100%;
    background: #fff;
}

footer ul {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
footer li {
    display: inline-block;
    margin-right: 3%;
}


/* home */

a.suggest {
    color: inherit;
    font-weight: bold;
    text-align: right;
    display: block;
}
a.suggest:after {
    content: " >";
}

p.answer {
    font-size: 1.5em;
}


/* suggest form */

form .question {
    margin-bottom: 2%;
    font-size: 1.5em;
}
form .question label {
    display: inline;
}
form .question input {
    display: inline;
    border: none;
    padding: 0 5px;
    width: 75%;
    font: inherit;
    font-style: italic;
    color: inherit;
    border-bottom: 1px dotted #ccc;
}

form .answer label {
    margin-left: 1%;
}

form input[type="submit"] {
    margin-top: 2%;
    font: inherit;
}


